# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Build (agar serverda build qilinsa)
# client/dist/

# Environment and IDE
.env
.env.local
.vscode/
.idea/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
